name: build-and-test-plugin-with-irods-packages-enterprise-linux

on:
  workflow_call:
    inputs:
      docker_image:
        description: The docker image and tag identifying the OS used to compile the plugin (e.g. rockylinux/rockylinux:10).
        required: true
        type: string
      build_artifact_suffix:
        description: The name used to uniquely identify build output across workflow jobs (e.g. rockylinux_10-main).
        required: true
        type: string
      plugin_package_directory:
        description: The directory name which is expected to hold the plugin packages (e.g. 'Rocky linux_10'). Required by the irods_python_ci_utilities module.
        required: true
        type: string
      irods_testing_environment_project_os:
        description: The OS component of the project directory to test against. When joined with 'irods_testing_environment_project_db', it must match a directory under the projects directory within the iRODS Testing Environment repository (e.g. rockylinux-10).
        required: true
        type: string
      irods_testing_environment_project_db:
        description: The DB component of the project directory to test against. When joined with 'irods_testing_environment_project_os', it must match a directory under the projects directory within the iRODS Testing Environment repository (e.g. postgres-16).
        required: true
        type: string
      build_sha_irods:
        description: The SHA of the irods/irods build.
        required: true
        type: string
      build_sha_icommands:
        description: The SHA of the irods/irods_client_icommands build.
        required: true
        type: string
      cache_key_irods_packages:
        description: The key which potentially identifies a cached build of the irods/irods source code.
        required: true
        type: string
      cache_key_icommands_packages:
        description: The key which potentially identifies a cached build of the irods/irods_client_icommands source code.
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:
  build_plugin:
    name: Build - ${{ inputs.docker_image }}

    runs-on: ubuntu-latest
    container: ${{ inputs.docker_image }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install prerequisite packages
        run: |
          set -x
          dnf update -y
          dnf install -y \
            dnf-plugins-core \
            epel-release \
            gcc-c++ \
            git \
            rpm-build \
            sudo \
            wget
          dnf install -y \
            cmake \
            python3-devel \
            python3-distro \
            python3-packaging \
            python3-pip

      - name: Set up iRODS externals package repository
        run: |
          set -x
          rpm --import https://unstable.irods.org/irods-unstable-signing-key.asc
          wget -qO - https://unstable.irods.org/renci-irods-unstable.yum.repo | tee /etc/yum.repos.d/renci-irods-unstable.yum.repo

      - name: Check cache for iRODS packages
        uses: actions/cache/restore@v4
        with:
          key: ${{ inputs.cache_key_irods_packages }}
          path: _build_irods/*.deb
          fail-on-cache-miss: 'true'

      - name: Check cache for iCommands packages
        uses: actions/cache/restore@v4
        with:
          key: ${{ inputs.cache_key_icommands_packages }}
          path: _build_icommands/*.deb
          fail-on-cache-miss: 'true'

      - name: Install iRODS development packages
        run: |
          set -x
          dnf update -y
          dnf install -y \
            irods-devel-${{ inputs.irods_package_version }} \
            irods-runtime-${{ inputs.irods_package_version }}

      - name: Install iRODS python CI utilities
        run: |
          set -x
          python3 -m pip install git+https://github.com/irods/irods_python_ci_utilities.git@main

      - name: Build and package
        run: |
          set -x
          mkdir _build
          python3 irods_consortium_continuous_integration_build_hook.py --build_directory _build

      - name: List contents of build directory
        run: |
          set -x
          ls -l _build

      # The server and icommands packages were built and cached while inside of a docker container.
      # We cannot use actions/cache to get the server and icommands packages in the next job because
      # GHA ties the cache to the runner's OS. For this workflow, the run_tests job does not run inside
      # of a container. This leads to a cache miss, causing the workflow to fail. To get around that, we
      # use upload-artifact and download-artifact.
      - name: Upload build output for dependent jobs
        uses: actions/upload-artifact@v6
        with:
          name: build_output-unreleased-${{ inputs.build_artifact_suffix }}
          path: |
            _build/*.rpm
            _build_irods/*.rpm
            _build_icommands/*.rpm
          overwrite: true

  run_tests:
    needs: build_plugin

    name: Test - ${{ inputs.irods_testing_environment_project_os }}, ${{ inputs.irods_testing_environment_project_db }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up python for iRODS testing environment
        uses: actions/setup-python@v6
        with:
          python-version: '3.8'

      - name: Download build output
        uses: actions/download-artifact@v7
        with:
          name: build_output-unreleased-${{ inputs.build_artifact_suffix }}
          path: build_artifacts

      - name: Set up docker compose
        uses: docker/setup-compose-action@v1

      - name: Set up iRODS testing environment
        run: |
          set -x
          git clone -b main --depth 1 --single-branch https://github.com/irods/irods_testing_environment
          cd irods_testing_environment
          python3 -m venv venv_testing_env
          . venv_testing_env/bin/activate
          python --version
          pip install docker-compose GitPython
          pip install docker'<7' requests==2.26.0
          pip freeze

      # XXX Cannot use this since the "key" is tied to the GHA runner OS. 
      # i.e. We build packages in a container, but run tests from a VM.
#     - name: Check cache for iRODS packages
#       uses: actions/cache/restore@v4
#       with:
#         key: ${{ inputs.cache_key_irods_packages }}
#         path: _build_irods/*.deb
#         fail-on-cache-miss: 'true'

#     - name: Check cache for iCommands packages
#       uses: actions/cache/restore@v4
#       with:
#         key: ${{ inputs.cache_key_icommands_packages }}
#         path: _build_icommands/*.deb
#         fail-on-cache-miss: 'true'

      - name: Run tests
        run: |
          set -x

          # Create a symlink to the directory containing the recently built plugin packages.
          # This is required by the irods_python_irods_ci_utilities module.
          ln -s build_artifacts/_build "${{ inputs.plugin_package_directory }}"

          # Move the icommands package into the same directory containing the server packages.
          # This is required by the testing environment.
          mv build_artifacts/_build_icommands/*.deb build_artifacts/_build_irods

          cd irods_testing_environment
          . venv_testing_env/bin/activate
          project_dir="${{ inputs.irods_testing_environment_project_os }}/${{ inputs.irods_testing_environment_project_os }}-${{ inputs.irods_testing_environment_project_db }}"
          python run_plugin_tests.py \
            "${GITHUB_REPOSITORY#${GITHUB_REPOSITORY_OWNER}/}" \
            --project-directory "projects/${project_dir}" \
            --irods-package-directory ../build_artifacts/_build_irods \
            --plugin-package-directory .. \
            --discard-logs \
            -vv
