name: build-and-test-plugin-unreleased

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build_unreleased_irods_packages:
#   uses: irods/irods_reusable_github_workflows/.github/workflows/build-and-test-plugin-matrix.yml@main
    uses: ./.github/workflows/build-unreleased-irods-and-icommands-packages-ubuntu-reusable.yml
    with:
      docker_image: ubuntu:22.04
      cache_key_irods_packages_prefix: cache-irods-ubuntu-22.04
      cache_key_icommands_packages_prefix: cache-icommands-ubuntu-22.04
      ccache_key: ccache-irods-ubuntu-22.04
      build_artifact_suffix: ubuntu_22-main
      plugin_package_directory: Ubuntu_22
      irods_testing_environment_project_os: ubuntu-22.04
      irods_testing_environment_project_db: postgres-16

  build_and_test_plugin:
    needs: build_unreleased_irods_packages
 
    uses: ./.github/workflows/build-and-test-plugin-with-unreleased-irods-packages-ubuntu.yml
    with:
      docker_image: ${{ needs.build_unreleased_irods_packages.outputs.docker_image }}
      build_artifact_suffix: ${{ needs.build_unreleased_irods_packages.outputs.build_artifact_suffix }}
      plugin_package_directory: ${{ needs.build_unreleased_irods_packages.outputs.plugin_package_directory }}
      irods_testing_environment_project_os: ${{ needs.build_unreleased_irods_packages.outputs.irods_testing_environment_project_os }}
      irods_testing_environment_project_db: ${{ needs.build_unreleased_irods_packages.outputs.irods_testing_environment_project_db }}
      build_sha_irods: ${{ needs.build_unreleased_irods_packages.outputs.build_sha_irods }}
      build_sha_icommands: ${{ needs.build_unreleased_irods_packages.outputs.build_sha_icommands }}
      cache_key_irods_packages: ${{ needs.build_unreleased_irods_packages.outputs.cache_key_irods_packages }}
      cache_key_icommands_packages: ${{ needs.build_unreleased_irods_packages.outputs.cache_key_icommands_packages }}
