name: build-unreleased-irods-and-icommands-packages-ubuntu

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build_irods_and_icommands:
    strategy:
      matrix:
        include:
          - docker_image: ubuntu:22.04
            cache_key_irods_packages_prefix: cache-irods-ubuntu-22.04
            build_artifact_suffix: ubuntu_22-main
            plugin_package_directory: Ubuntu_22
            irods_testing_environment_project_os: ubuntu-22.04
            irods_testing_environment_project_db: postgres-16
          - docker_image: ubuntu:24.04
            cache_key_icommands_packages_prefix: cache-icommands-ubuntu-24.04
            build_artifact_suffix: ubuntu_24-main
            plugin_package_directory: Ubuntu_24
            irods_testing_environment_project_os: ubuntu-24.04
            irods_testing_environment_project_db: postgres-16

    name: Build iRODS and iCommands - ${{ matrix.docker_image }}

    runs-on: ubuntu-latest
    container: ${{ matrix.docker_image }}

    outputs:
      docker_image: ${{ matrix.docker_image }}
      build_artifact_suffix: ${{ matrix.build_artifact_suffix }}
      plugin_package_directory: ${{ matrix.plugin_package_directory }}
      irods_testing_environment_project_os: ${{ matrix.irods_testing_environment_project_os }}
      irods_testing_environment_project_db: ${{ matrix.irods_testing_environment_project_db }}
      build_sha_irods: ${{ steps.init.outputs.sha_irods }}
      build_sha_icommands: ${{ steps.init.outputs.sha_icommands }}
      cache_key_irods_packages: ${{ steps.init.outputs.cache_key_irods_packages }}
      cache_key_icommands_packages: ${{ steps.init.outputs.cache_key_icommands_packages }}

    steps:
      - name: Capture SHAs of base iRODS repos and initialize keys caching packages
        id: init
        run: |
          set -x

          apt-get update -qq
          apt-get install -qq git

          git clone -b main --depth 1 --single-branch https://github.com/irods/irods
          git clone -b main --depth 1 --single-branch https://github.com/irods/irods_client_icommands

          # Make SHAs available to other steps and jobs within the workflow.
          sha_irods=$(git -C irods rev-parse HEAD)
          sha_icmds=$(git -C irods_client_icommands rev-parse HEAD)
          echo "sha_irods=$sha_irods" >> $GITHUB_OUTPUT
          echo "sha_icommands=$sha_icmds" >> $GITHUB_OUTPUT

          # Initialize keys for caching unreleased packages.
          echo "cache_key_irods_packages=${{ matrix.cache_key_irods_packages_prefix }}-$sha_irods" >> $GITHUB_OUTPUT
          echo "cache_key_icommands_packages=${{ matrix.cache_key_icommands_packages_prefix }}-$sha_icmds" >> $GITHUB_OUTPUT

      - name: Check cache for iRODS packages
        id: irods
        uses: actions/cache@v4
        with:
          key: ${{ steps.init.outputs.cache_key_irods_packages }}
          path: _build_irods/*.deb

      - name: Check cache for iCommands package
        id: icommands
        uses: actions/cache@v4
        with:
          key: ${{ steps.init.outputs.cache_key_icommands_packages }}
          path: _build_icommands/*.deb

      - name: Install prerequisite packages
        if: steps.irods.outputs.cache-hit != 'true' || steps.icommands.outputs.cache-hit != 'true'
        run: |
          set -x
          apt-get update -qq
          apt-get install -qq \
            apt-transport-https \
            ca-certificates \
            dnsutils
          apt-get install -qq \
            bison \
            build-essential \
            catch2 \
            cmake \
            curl \
            flex \
            g++ \
            libarchive-dev \
            libbz2-dev \
            libcurl4-gnutls-dev \
            libfmt-dev \
            libpam0g-dev \
            libspdlog-dev \
            libssl-dev \
            libsystemd-dev \
            libxml2-dev \
            ninja-build \
            nlohmann-json3-dev \
            odbc-postgresql \
            python3-dev \
            python3-distro \
            python3-psutil \
            unixodbc \
            unixodbc-dev \
            wget \
            zlib1g-dev

      - name: Set up iRODS externals package repository
        if: steps.irods.outputs.cache-hit != 'true' || steps.icommands.outputs.cache-hit != 'true'
        run: |
          set -x
          mkdir -p /etc/apt/keyrings
          wget -qO - https://unstable.irods.org/irods-unstable-signing-key.asc | \
            gpg \
              --no-options \
              --no-default-keyring \
              --no-auto-check-trustdb \
              --homedir /dev/null \
              --no-keyring \
              --import-options import-export \
              --output /etc/apt/keyrings/renci-irods-unstable-archive-keyring.pgp \
              --import
          echo "deb [signed-by=/etc/apt/keyrings/renci-irods-unstable-archive-keyring.pgp arch=amd64] https://unstable.irods.org/apt/ $(lsb_release -sc) main" | \
            tee /etc/apt/sources.list.d/renci-irods-unstable.list
          apt-get update -qq
          apt-get install -qq \
            irods-externals-boost1.81.0-2 \
            irods-externals-clang16.0.6-0 \
            irods-externals-jsoncons0.178.0-0 \
            irods-externals-nanodbc2.13.0-3

      - name: Build iRODS packages
        if: steps.irods.outputs.cache-hit != 'true'
        run: |
          set -x
          mkdir _build_irods
          cmake -DCMAKE_BUILD_TYPE=Debug -GNinja -B _build_irods -S irods
          cmake --build _build_irods --target package

      - name: Build iCommands packages
        if: steps.icommands.outputs.cache-hit != 'true'
        run: |
          set -x
          apt-get install -qq ./_build_irods/irods-{dev,runtime}*.deb
          mkdir _build_icommands
          cmake -DCMAKE_BUILD_TYPE=Debug -GNinja -B _build_icommands -S irods_client_icommands
          cmake --build _build_icommands --target package

  build_and_test_plugin:
    needs: build_irods_and_icommands
 
    uses: ./.github/workflows/build-and-test-plugin-with-unreleased-irods-packages.yml
    with:
      docker_image: ${{ needs.build_irods_and_icommands.outputs.docker_image }}
      build_artifact_suffix: ${{ needs.build_irods_and_icommands.outputs.build_artifact_suffix }}
      plugin_package_directory: ${{ needs.build_irods_and_icommands.outputs.plugin_package_directory }}
      irods_testing_environment_project_os: ${{ needs.build_irods_and_icommands.outputs.irods_testing_environment_project_os }}
      irods_testing_environment_project_db: ${{ needs.build_irods_and_icommands.outputs.irods_testing_environment_project_db }}
      build_sha_irods: ${{ needs.build_irods_and_icommands.outputs.build_sha_irods }}
      build_sha_icommands: ${{ needs.build_irods_and_icommands.outputs.build_sha_icommands }}
      cache_key_irods_packages: ${{ needs.build_irods_and_icommands.outputs.cache_key_irods_packages }}
      cache_key_icommands_packages: ${{ needs.build_irods_and_icommands.outputs.cache_key_icommands_packages }}
